/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  display: center;
  font-weight: bold;
  justify-content: center;
  color: white;
  text-shadow: 0.5cm;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(0, 31, 98);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 1000px;
}

.card {
  width: 100px;
  height: 150px;
  perspective: 600px;
  margin: 1rem;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(44, 173, 238), rgb(38, 242, 249));
  display: grid;
  place-content: center;
  font-size: 3rem;
  border-radius: 1rem;
  backface-visibility: hidden;
  user-select: none;
}

.back {
  background: linear-gradient(purple, lightsteelblue);
  transform: rotateY(180deg);
}

/* .card.paired .content,
 */
.card.flipped .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
